body {
  margin: 0;
  font-family: system-ui;
  background: #0f172a;
  color: white;
}

.hidden { display: none; }

#login {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  margin-bottom: 8px;
}

.name {
  color: #38bdf8;
}

.input {
  display: flex;
  padding: 10px;
  background: #020617;
}

.input input[type="text"] {
  flex: 1;
  margin: 0 5px;
}
