@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}